//Interactive Document Page
.doc-col-about {
	@include span-columns (3);
}

.doc-area {
	@include span-columns (9);
	text-align: center;
}

.doc-image {
//	width: 100%
}

.doc-tools {
	font-family: $utility-font-family;	
	font-size: $smallish-font-size;
	
	li {
		display: inline-block;
		margin: $small-spacing;
	}
}

.doc-modes {

	li {
		display: inline-block;
		margin-right: $base-spacing;
		margin-bottom: $base-spacing;

		a {
			padding: $small-spacing $base-spacing;
			background-color: lighten($taupe, 20%);
			background-image:
				radial-gradient(circle at 0 0, #fff 10px, rgba(204,0,0,0) 12px),
				radial-gradient(circle at 100% 0, #fff 10px, rgba(204,0,0,0) 12px),
				radial-gradient(circle at 100% 100%, #fff 10px, rgba(204,0,0,0) 12px),
				radial-gradient(circle at 0 100%, #fff 10px, rgba(204,0,0,0) 12px);
		}

		a.selected:link, a.selected:visited {
			background-color: $blue;
			color: #fff;
		}
 	}
}

// for curatorial info on document pages
dl.doc-curatorial {
	color: $blue-font-color;

  dt {
    float: left;
    margin-right: 5%;
    margin-top: 0;
    max-width: 30%;
  }
  
  dd {
    margin-left: 35%;
  }
  
  dd::after {
    content: " ";
    display: block;
    clear: left;
  }  
}

// for related primary resources on document pages
.doc-resources {
	background-color: $taupe;
	overflow-x: hidden;
	padding: $base-spacing;

	h2 {
		font-size: $large-font-size;
		color: #fff;
		font-weight: normal;
	}
}

.doc-resources-list {
	overflow-x: scroll;
	white-space: nowrap;
	
	li {
		display: inline-block;
		line-height: $heading-line-height;
		margin-right: $large-spacing;
		max-width: 175px;
		vertical-align: top;
		white-space: normal;

		img.resources-menu-img {
				border: 1px solid $gray-dark;
		}
	}
}

.resources-list-img {
//	display: block;
}

#zoom-container { 
	width: 900px; 
	height: 1400px; 
	margin: auto; 
	border: 1px solid $gray-medium; 
}

#doc_audio {
	vertical-align: middle;
	width: 250px;
}
