//Related Resources Page
.primary-resources {
	@include clearfix;
	
	h2 {
		font-size: $large-font-size;
		font-weight: normal;
		margin: $base-spacing 0 $small-spacing 0;
	}
}

.related-list {
	@include span-columns (4);

		h2 {
		font-size: $large-font-size;
		font-weight: normal;
		margin: $base-spacing 0 0 0;
	}

	li {
		font-size: $base-font-size * 1.15;
		padding-bottom: $small-spacing;
	}
}

.resources-menu {
	
	li {
	  @include span-columns(12 / 7);
	  @include omega(7n);
		display: inline-block;
	}
}

.resources-menu-img {
	border: 1px solid $taupe;
}
