//Top Banner
.banner {
	background: url(../images/isaiah-banner.jpg) no-repeat;
	background-size: cover;
	height: 155px;

	h1 {
		font-size: $title-font-size * 1.25;		
	}

	h1, h3 {
		color: #fff;
		font-variant: small-caps;
		font-weight: normal;
		line-height: $heading-line-height;
		margin-left: 40%;

		a {
			color: #fff;
		}
	}
}


