// for close read transcription
.doc-closeread {
	background-color: $buff;
	border: 1px solid $taupe;
	padding: $large-spacing;
	text-align: left;
}

p.closeread-text, h1.closeread-title {
	color: $gray-dark !important;
	line-height: 1.5em;
}

.bracket {
	background-color: transparentize($taupe, 0.75);

	&:hover {
		background-color: tint($red, 80%);
	}
}

a.outer {
	color: $gray-dark;
		
	&:link, &:visited {
		text-decoration: none;
	}
}

a.definition {
	color: $gray-dark;

	&:link, &:visited {
		text-decoration: underline;
	}
}

a.definition:hover {
	color: $red;
}

.bracket-img {
	height: 100%;
	width: auto;
	position: absolute;
	top: 0;
	left: -30px;
}

.script {
	font-family: "learning-curve";
	font-size: $medlarge-font-size;
}

.blackletter {
	font-size: $medlarge-font-size;
	margin: 0;
}

.signatures {
	color: $gray-dark;
	width: 25%;
}

.closeread-title {
	font-size: $title-font-size;
	font-style: italic;
	margin: 0;
	text-align: center;
}
