//Artifact Explorer
.svg-content { 
	width: 100%; 
}

.hotspot {
	stroke: $action-color;
		fill: $action-color;
		fill-opacity: 0.1;

	&:hover {
		fill: $action-color;
		fill-opacity: 0.5;
	}	
}

#document { 
	width: 900px; 
	height: 1400px;
}
