//Video
.video-area {
	background-color: $gray-light;
	text-align: center;
}

.video-transcription {
	background-color: $gray-light;
	border: 1px solid $gray-medium;
	height: 300px;
	margin: 0 0 $base-spacing 0;
	overflow-y: scroll;
	padding: $base-spacing;

	@include span-columns (8);
	@include shift(2);
}

.video-header {
	margin: $base-spacing null -20px null;

	@include span-columns (8);
	@include shift(2);
}

.film-credits {
	clear: left;
	text-align: center;
}

.credits {

	dt {
    clear: left;
		float: left;
		font-style: italic;
		margin-top: 0;
    text-align: right;
    width: 50%;
	}

	dd {
		//color: $blue-font-color;
  	margin-left: 51%;
		padding-bottom: $tiny-spacing;
		text-align: left;
  	width: 50%;
	}
}
